# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python & ML Pipeline
ml_pipeline/venv/
ml_pipeline/__pycache__/
*.pyc
.DS_Store

# Ignore the models and dataset if they get too large (optional)
# ml_pipeline/synthetic_sensor_data.csv
# ml_pipeline/anomaly_model.pkl
